<a href="https://colab.research.google.com/github/maruyama-0412/prmn2003a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [6]:
import random

student_list = []
for i in range(5):
    student = 2222200 + random.randrange(10,2800,10)
    student_list.append('b' + str(student))
print(student_list)

['b2223980', 'b2223170', 'b2223400', 'b2222810', 'b2223080']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [24]:
import random

def list_make(list):
    while len(list) <= 5:
        n = random.randint(1,9)
        if not n in list:
            list.append(n)
    return list


list1 = []
list2 = []

list1 = list_make(list1)
list2 = list_make(list2)

print(f'1つ目のリスト：{list1}')
print(f'2つ目のリスト：{list2}')

list3 = [ x + y for (x,y) in zip(list1,list2)]
print(f'足し合わせたリスト：{list3}')

1つ目のリスト：[7, 4, 5, 1, 3, 2]
2つ目のリスト：[8, 4, 1, 5, 3, 7]
足し合わせたリスト：[15, 8, 6, 6, 6, 9]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [30]:
import random

todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)

todohuken_list_4 = []
for i in range(0,len(todohuken_list),4) :
    todohuken_list_4.append(todohuken_list[i:i+4])
print(todohuken_list_4)

[['秋田県', '徳島県', '群馬県', '和歌山県'], ['島根県', '長崎県', '三重県', '鹿児島県'], ['静岡県', '奈良県', '栃木県', '茨城県'], ['北海道', '山口県', '福島県', '鳥取県'], ['山形県', '新潟県', '岐阜県', '福井県'], ['千葉県', '埼玉県', '兵庫県', '宮崎県'], ['宮城県', '青森県', '熊本県', '香川県'], ['富山県', '福岡県', '岩手県', '東京都'], ['長野県', '愛媛県', '山梨県', '広島県'], ['滋賀県', '神奈川県', '愛知県', '石川県'], ['佐賀県', '大分県', '京都府', '高知県'], ['沖縄県', '岡山県', '大阪府']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [1]:
from posixpath import split

university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

print(university_list)

university_list = sorted(university_list,key = lambda x:int(x.split(",")[1]))
#別パターン
#university_list = sorted(map(lambda x:int(x.split(',')[1]),university_list))
print(university_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [14]:
def list_create(string):
  print(string)
  list.append(string)
  return


def list_count(string):
  print(f'{string}の数：{list.count(string)}')
  return


list = []
n = int(input('整数を入力してください '))
for i in range(1,n+1):
    print(f'{i:3} : ',end = '')
    if i%15 == 0:
        list_create('FizzBuzz')
    elif i%3 == 0:
        list_create('Fizz')
    elif i%5 == 0:
        list_create('Buzz')
    else:
        list_create('others')

print('\n')
list_count('FizzBuzz')
list_count('Fizz')
list_count('Buzz')
list_count('others')

整数を入力してください 5
  1 : others
  2 : others
  3 : Fizz
  4 : others
  5 : Buzz


FizzBuzzの数：0
Fizzの数：1
Buzzの数：1
othersの数：3